---
import LoginForm from '../components/LoginForm';
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login - GoldWatch</title>
    <style is:global>
      body { margin: 0; }
    </style>
</head>
<body>
    <LoginForm client:only="react" />
</body>
</html>
