---
import WebhooksPage from '../../components/admin/WebhooksPage';
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Webhooks - GoldWatch</title>
    <style is:global>
      body { margin: 0; }
    </style>
</head>
<body>
    <WebhooksPage client:only="react" />
</body>
</html>
